<!DOCTYPE html>
<html>
    <head>
        <title>Contacts Manager</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="bg-info" style="max-width:100%; overflow-x:hidden">
        <div class="row">
            <div class="col-md-8" style="background-color:#fff; margin-top: 25px; margin-left:auto; margin-right:auto; padding:20px">
                {{{body}}}
            </div>
        </div>

    </body>
</html>
